<h2>{{(postToDisplay | async)?.title}}</h2>

<div class="row">
  <div class="col-md-6">
    <p>{{(postToDisplay | async)?.manager}}</p>
    <p>{{(postToDisplay | async)?.time}}</p>

    <p>
      {{(postToDisplay | async)?.description}}
    </p>
  </div>

  <div class="col-md-2">
    <div class="result">
      <li>Target: {{(postToDisplay | async)?.fund}}</li>
      <li>Current: {{(postToDisplay | async)?.current}}</li>
      <li>Left: {{(postToDisplay | async)?.fund - (postToDisplay | async)?.current}}</li>
      <button (click)="showForm()">Donate</button>
      <div *ngIf="donateForm">
        <input type="hidden" #id value="{{(postToDisplay | async)?.$key}}">
        <input type="hidden" #current value="{{(postToDisplay | async)?.current}}">
        <input type="hidden" #left value="{{(postToDisplay | async)?.fund - (postToDisplay | async)?.current}}">
        <div class="form-group">
          <label>Enter the Amount</label>
          <input #amount placeholder="$" type="number" min="1">
        </div>
        <button (click)="donate(id.value, amount.value, current.value, left.value); amount.value=''">Donate</button>
      </div>
    </div>
  </div>

  <div class="panel-warning col-md-4" id="warning" *ngIf="warningShow">
    <div class="panel-heading">
      <h3>Don't need that much anymore!</h3>
    </div>
  </div>
  <div class="panel-success col-md-4" id="success" *ngIf="successShow">
    <div class="panel-heading">
      <h3>Thanks for your donation!</h3>
    </div>
  </div>
</div>

<h3>Comments</h3>
<select (change)="hideChange($event.target.value)">
  <option value="all">All</option>
  <option value="time">Latest</option>
</select>
<div *ngFor="let comment of ideas | async | commentOrderBy:desiredTime">
  <div *ngIf="comment.id === (postToDisplay | async)?.$key">
    <div class="panel">
      <div class="panel-heading">
        <h4>{{comment.author}}</h4>
        <p>{{comment.time}}</p>
      </div>
      <div class="panel-body">
        <p>{{comment.post}}</p>
      </div>
    </div>
  </div>
</div>


<h3>Write a comment</h3>
<div class="form-group">
  <label>Enter Your Name</label>
  <input #name>
</div>
<div class="form-group">
  <label>Comment</label>
  <textarea #post></textarea>
  <input type="hidden" #id value="{{(postToDisplay | async)?.$key}}">
</div>
<button (click)="leaveAComment(id.value, name.value, post.value); name.value=''; post.value=''">Post</button>
