div.jumbotron h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div.result {
  float: right;
  margin-top: -8%;
}

div#create {
  float: right;
  margin-top: -4.5%;
}

div.manager {
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -2%;
}

div.panel h3 {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

div.panel-warning {
  margin-top: -2%;
}

div.panel-warning h3 {
  text-align: center;
}

div.panel-success {
  margin-top: -2%;
}

div.panel-success h3 {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.congrats {
  float: right;
  margin-top: -4%;
}
